<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Añadir Empleado</title>
</head>
<body>  
    <div id="ventana" class="mx-24 mt-2.5 h-max border border-blaxk-500/75">
        <h3 class="mx-10 mt-2.5 text-3xl font-bold dark:text-white">Añadir Empleado</h3><br>
        <div id="formulario" class="mx-10">
            <form action="/empleado" method="post">
                <label for="empleado" class="block text-sm font-medium leading-6 text-gray-900">Nombre: </label>
                <input type="text" id="nombre" name="nombre" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Lidia Blanco Villasuso"><br><br>

                <label for="paquetes" class="block text-sm font-medium leading-6 text-gray-900">Paquetes</label>
                <input type="number" id="paquetes" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="5"><br><br>

                <div id="botones" class="bg-slate-300 h-11 text-center">
                    <button type="button" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-2 border border-gray-400 rounded shadow" id="cancelar" onClick = "reset()">
                        Cancelar
                    </button>
                    <input type="submit" id="confirmar" value="Confirmar" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded"/>
                </div>
            </form>
        </div>
    </div>
</body>
</html>